#main{
    margin: 0;
    padding: 10px 10px;
    clear: both;
    margin: 20px 10px;
    background: #ffffff;
    width: auto;
    height: 300px;
}
.machine{
    width: 400px;
    height: 600px;
    background: #313131;
    padding: 15px;
    margin: 50px auto;
    box-shadow: 2px 4px 4px 2px rgba(1, 11, 29, 0.38);
        border-radius: 10px;
}

.img_coin{
    float:left;
    list-style: none;
    display: block;
    margin: 20px 10px;
    width:100px;
    height:130px;
}

.img_logo{
    background: url("../scr/LOGO.png");
    background-repeat: no-repeat;
    width: 330px;
    height: 65px;
    display: block;
    margin: 10px auto;
    box-shadow: 4px 4px 3px 3px rgba(255, 255, 255, 0.15);
    background-size: cover;
}

#machine{
    background: url("../scr/machine.png");
    background-repeat: no-repeat;
    display: block;
    padding: 50px;
    margin: 10px;
    background-size: 100%;
}

#em{
    background-color: #6a6a6a;
    width: 360px;
    height: auto;
    text-align: center;
    padding: 30px 10px;
    margin: 30px auto;
    font-size: 15px;
    color: #9a9a9a;
}

.button1{
    width: 500px;
    height: 30px;
    margin-top: 170px; 
    margin-left: 0px;
    list-style: none;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    background-size: cover;
}

.button2{
    position: absolute;
    width: 100px;
    height: 30px;
    margin-top: 170px; 
    margin-left: 125px;
    list-style: none;
    background-repeat: no-repeat;
    display: block;
}

.button3{
    position: absolute;
    width: 100px;
    height: 30px;
    margin-top: 170px;
    margin-left: 250px;
    list-style: none;
    background-repeat: no-repeat;
    display: block;
    
}
